<div class="banner" *ngIf="bannerItem">
  <div class="background">
    <img
      [src]="'https://image.tmdb.org/t/p/original/' + bannerItem.backdrop_path"
      alt=""
    />
  </div>

  <div class="movie-props">
    <h1>{{ bannerItem.original_title }}</h1>
    <span class="d-flex align-items-center mb-4">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="star"
        style="color: gold"
      ></mat-icon>
      <span class="ml-2 detail">{{ bannerItem.vote_count }}</span>
      <span class="ml-3 detail">{{ bannerItem.release_date | date }}</span>
      <span class="ml-2 detail">{{ bannerItem.vote_average }}</span>
    </span>
    <div class="w-50">
      <h5>{{ bannerItem.overview }}</h5>
    </div>
  </div>
</div>
